$ten: 10px;
$white: #ffffff;
$link: #784015;
$hover: #B96220;
$title: #6B3308;
$subtitle: #361D09;
$black: #000000;

html, body {
  min-height: 100%;
  min-width: 100%;
  background: $white;
  font-size: $ten * 1.6;
  line-height: $ten * 1.6;
  color: $black;
  overflow: hidden;
}

a {
  color: $link;

  &:hover {
    color: $hover;
  }
}

.hero {
  .title {
    color: $title;

    img {
      width: 60%;
    }
  }

  .subtitle {
    color: $subtitle;
  }
}