$ten: 10px;
$white: #ffffff;
$link: #784015;
$title: #6B3308;
$subtitle: #222222;

html, body {
  min-height: 100%;
  min-width: 100%;
  background: $white;
  font-size: $ten * 1.6;
  line-height: $ten * 1.6;
}

a {
  color: $link;

  &:hover {
    color: lighten($subtitle, 30%);
  }
}

.hero {
  .title {
    color: $title;

    img {
      width: 60%;
    }
  }

  .subtitle {
    color: $subtitle;
  }
}